<header class="site-header">
    <div class="site-nav">
      <a id="home" class="site-title grow" href="/"><i class="fa fa-home"></i></a> 
      <a id="projects_button" class="grow" href="/projects/index.html"><i class="fa fa-cubes"></i><span id="project_text"> Projects</span></a>  
 
    </div>
 
  <div class = "header-contact">
      <a class="grow" href = "mailto:ricky.dop@gmail.com"><i class="fa fa-envelope"></i></a>
      <a class="grow" href = "https://www.facebook.com/phucee" target="_blank"><i class="fa fa-facebook"></i></a>
      <a class="grow" href = "https://github.com/rickydo" target="_blank"><i class="fa fa-github-alt"></i></a>
      <a class="grow" href ="https://www.linkedin.com/in/rickydo" target="_blank"><i class="fa fa-linkedin"></i></a>
      <a class="grow" href="https://twitter.com/statusd0" target="_blank"><i class="fa fa-twitter"></i></a>
  </div>
</header>
