p{
	color: white;
	font-size: 1.2em;
	font-family: Arial;
}

body {
	background-color:#BDBDBD;
}

div {
	border-radius:5px;
	border:1px solid white;
	padding:0.5%;
}

#content{
	width:80%;
	float:left;
	position:relative
	display:block;
}
#content img{
	width:65%;
}
#sidebar{
	width:10%;
	text-align:center;
	float:right;
	position:fixed;
	display:inline-block;
}

#sidebar img{
	width:50%;
}
#sidebar a {
	color:white;
}


#sidebar a:visited {
	color:red;
}

#sidebar a:hover {
	color:black;
}

/*for lower resolution*/
@media screen and (max-width: 480px){
	#sidebar {
		width:100%;
		position:relative;
		display:block;
	}
	#content {
		width:100%;
	}	
}

/*for higher resolution*/
@media screen and (min-width:1000px){
	#content{
		width:70%;
	}
	#sidebar{
		width:20%;
	}
}